{{define "title"}}Home{{end}}


{{define "main"}}
    <h2>Latest h00ts</h2>
    {{if .Hoots}}
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Hoots}}
        <tr>
            <td><a href='/H/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's Nothing to see here...yet!</p>
    {{end}}
{{end}}